//
// Brand colors
// http://brand.iu.edu/apply/color.shtml
//

@color-Cream: #E1D8B7;
@color-Crimson: #7D110C;
@color-Leather: #CD894E;
@color-Majestic: #4B306A;
@color-Midnight: #44697D;
@color-Mint: #9ADCC6;
@color-OldGold: #C59217;

//
// ESS Color Palette
//

// Lightness calculated from Lab color space.
// Luminance calculated from luminance() Less function.
// Luma calculated from luma() Less function.

// Attempted to convert colors into grayscale using different perceptual luminance calculations.
// Subjectively, lightness or luminance seemed more accurate than luma.
// http://codepen.io/basham/pen/pvrvgY

// Normalizing all color names to a 20 point scale, in 50 degree increments.
// For example: 050, 100, 150, 200, ... 800, 850, 900, 950
// The darker the color, the higher it is on the scale.
// This roughly follows the naming pattern as provided by Google's Material Design.
// http://www.google.com/design/spec/style/color.html

// Use the following algorithm to convert a color's luminance value to a name.
// ```js
// function colorName(lum) { return Math.round((100 - lum) * 0.2) * 50; }
// ```

// Color names of `0` or `1000` are essentially white and black,
// and therefore, they should be ignored, as there's not sufficient distinction.

@color-Accent: @color-Crimson;
@color-Accent--850: @color-Accent; // 26.83 lightness, 15.53 luminance, 4.79 luma

@color-Base: @color-Cream;
@color-Base--050: tint(@color-Base, 70%); // 95.91 lightness, 95.36 luminance, 89.78 luma
@color-Base--100: tint(@color-Base, 50%); // 93.44 lightness, 92.26 luminance, 83.34 luma
@color-Base--150: @color-Base; // 86.56 lightness, 84.52 luminance, 68.54 luma
@color-Base--250: darken(@color-Base, 10%); // 79.88 lightness, 76.78 luminance, 55.51 luma

@color-Interactive: @color-Majestic;
@color-Interactive--100: tint(@color-Interactive, 90%); // 93.04 lightness, 92.27 luminance, 83.32 luma
@color-Interactive--150: tint(@color-Interactive, 80%); // 86.23 lightness, 84.54 luminance, 68.40 luma
@color-Interactive--300: tint(@color-Interactive, 60%); // 71.74 lightness, 69.09 luminance, 43.61 luma
@color-Interactive--400: tint(@color-Interactive, 50%); // 64.58 lightness, 61.36 luminance, 33.61 luma
@color-Interactive--500: tint(@color-Interactive, 35%); // 52.98 lightness, 49.77 luminance, 21.42 luma
@color-Interactive--650: tint(@color-Interactive, 15%); // 37.34 lightness, 34.31 luminance, 9.99 luma
@color-Interactive--750: @color-Interactive; // 25.06 lightness, 22.72 luminance, 4.65 luma

@color-Text--dark: tint(#000, 10%);
@color-Text--light: #fff;

//
// Components
//

@color-AppointmentGradient-top: @color-Midnight;
@color-AppointmentGradient-bottom: #444D7E;

@color-Background--dark: #000;
@color-Background--light: #fff;

@color-Border: #ddd;
@color-Border: darken(@color-Cream, 10%);
@color-Border--dark: darken(@color-Border, 0%);

@color-Brand-bg: #212121;
@color-Brand-bg: @color-Cream;
@color-Brand-border: #990000;
@color-Brand-border: @color-Crimson;

@color-CalendarDay-bg: #e6e6e6;
@color-CalendarDay-bg: tint(@color-Majestic, 50%);
@color-CalendarDay-bg--focus: #D00031;
@color-CalendarDay-bg--focus: tint(@color-Majestic, 90%);

@color-CalendarMonth-bg: @color-OldGold;
@color-CalendarMonth-bg: mix(@color-Cream, @color-Leather, 70%);
@color-CalendarMonth-bg: @color-Cream;

@color-CalendarWeek-bg: @color-Mint;
@color-CalendarWeek-bg: tint(@color-Cream, 50%);
@color-CalendarWeek-border: #fbeed5;
@color-CalendarWeek-border: @color-Border;

@color-Confirmation-text: @color-Majestic;

@color-Drag-bg: red;

@color-EntryGradient-top: @color-OldGold;
@color-EntryGradient-top: mix(@color-Cream, @color-Leather, 70%);
@color-EntryGradient-top: tint(@color-Majestic, 50%);
@color-EntryGradient-bottom: #A2C417;
@color-EntryGradient-bottom: mix(@color-Cream, @color-Leather, 70%);
@color-EntryGradient-bottom: tint(@color-Majestic, 50%);

@color-Icon: tint(@color-Majestic, 15%);
@color-Icon--focus: @color-Majestic;

@color-Selection: #6dafbf;

@color-Sidebar-border: #d1c38f;
@color-Sidebar-border: @color-Border--dark;

@color-SidebarGradient-top: #E1D8B7;
@color-SidebarGradient-top: #fff;
@color-SidebarGradient-bottom: #CFC08C;
@color-SidebarGradient-bottom: #fff;

@color-Slot-bg: #4A3C31;

@color-TableRow-bg--focus: whitesmoke;
@color-TableRow-bg--focus: tint(@color-Cream, 70%);

@color-Text: #000;
@color-Text: tint(#000, 10%);
@color-Text--dark: @color-Text;
@color-Text--shade: #333;
@color-Text--medium: #999;
@color-Text--light: #fff;

@color-TextShadow: rgba(0, 0, 0, 0.3);
@color-TextShadow--trueDarkSolid: #000;
@color-TextShadow--dark: @color-TextShadow;
@color-TextShadow--mediumSolid: #666;
@color-TextShadow--darkSolid: #2a2a2a;
@color-TextShadow--light: rgba(255, 255, 255, 0.75);

@color-TimeTableHead-bg: tint(@color-Cream, 50%);

@color-PopoverTitle-text: @color-Crimson;
@color-PopoverTitle-text: darken(@color-Crimson, 0%);
