//
// Brand colors
// http://brand.iu.edu/apply/color.shtml
//

@color-Cream: #E1D8B7;
@color-Crimson: #7D110C;
@color-Leather: #CD894E;
@color-Majestic: #4B306A;
@color-Midnight: #44697D;
@color-Mint: #9ADCC6;
@color-OldGold: #C59217;

//
// Components
//

@color-AppointmentGradient-top: @color-Midnight;
@color-AppointmentGradient-bottom: #444D7E;

@color-Background--dark: #000;
@color-Background--light: #fff;

@color-Border: #ddd;
@color-Border: darken(@color-Cream, 10%);
@color-Border--dark: darken(@color-Border, 0%);

@color-Brand-bg: #212121;
@color-Brand-bg: @color-Cream;
@color-Brand-border: #990000;
@color-Brand-border: @color-Crimson;

@color-CalendarDay-bg: #e6e6e6;
@color-CalendarDay-bg: tint(@color-Majestic, 50%);
@color-CalendarDay-bg--focus: #D00031;
@color-CalendarDay-bg--focus: tint(@color-Majestic, 90%);

@color-CalendarMonth-bg: @color-OldGold;
@color-CalendarMonth-bg: mix(@color-Cream, @color-Leather, 70%);
@color-CalendarMonth-bg: @color-Cream;

@color-CalendarWeek-bg: @color-Mint;
@color-CalendarWeek-bg: tint(@color-Cream, 50%);
@color-CalendarWeek-border: #fbeed5;
@color-CalendarWeek-border: @color-Border;

@color-Confirmation-text: @color-Majestic;

@color-Drag-bg: red;

@color-EntryGradient-top: @color-OldGold;
@color-EntryGradient-top: mix(@color-Cream, @color-Leather, 70%);
@color-EntryGradient-top: tint(@color-Majestic, 50%);
@color-EntryGradient-bottom: #A2C417;
@color-EntryGradient-bottom: mix(@color-Cream, @color-Leather, 70%);
@color-EntryGradient-bottom: tint(@color-Majestic, 50%);

@color-Icon: tint(@color-Majestic, 15%);
@color-Icon--focus: @color-Majestic;

@color-Selection: #6dafbf;

@color-Sidebar-border: #d1c38f;
@color-Sidebar-border: @color-Border--dark;

@color-SidebarGradient-top: #E1D8B7;
@color-SidebarGradient-top: #fff;
@color-SidebarGradient-bottom: #CFC08C;
@color-SidebarGradient-bottom: #fff;

@color-Slot-bg: #4A3C31;

@color-TableRow-bg--focus: whitesmoke;
@color-TableRow-bg--focus: tint(@color-Cream, 70%);

@color-Text: #000;
@color-Text: tint(#000, 10%);
@color-Text--dark: @color-Text;
@color-Text--shade: #333;
@color-Text--medium: #999;
@color-Text--light: #fff;

@color-TextShadow: rgba(0, 0, 0, 0.3);
@color-TextShadow--trueDarkSolid: #000;
@color-TextShadow--dark: @color-TextShadow;
@color-TextShadow--mediumSolid: #666;
@color-TextShadow--darkSolid: #2a2a2a;
@color-TextShadow--light: rgba(255, 255, 255, 0.75);

@color-TimeTableHead-bg: tint(@color-Cream, 50%);

@color-PopoverTitle-text: @color-Crimson;
@color-PopoverTitle-text: darken(@color-Crimson, 0%);
